In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Load CSV as data fram
cities_df = pd.read_csv("../weatherpy/cities.csv")
cities_df.head()

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country
0,Korla,41.7597,86.1469,54.10,32,12,5.88,CN
1,At-Bashi,41.1702,75.8106,41.14,46,18,6.24,KG
2,Ushuaia,-54.8000,-68.3000,42.80,87,75,3.44,AR
3,Mahébourg,-20.4081,57.7000,77.00,94,75,14.97,MU
4,Butaritari,3.0707,172.7902,82.96,76,88,12.37,KI

<h3>Creating Heat Map (Humidity) </h3>

In [3]:
# Store latitude and longitude in locations
locations = cities_df[["Latitude", "Longitude"]]

# Fill NaN values and convert to float
humidity = cities_df["Humidity"].astype(float)

In [10]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

<h3>Perfect Conditions </h3>

In [26]:
# Narrowing donw df
perf_temp_df = cities_df[cities_df['Max_Temp'] > 70].reset_index(drop = True)
perf_temp_df = perf_temp_df[perf_temp_df['Max_Temp'] <= 80].reset_index(drop = True)
perf_temp_df.head()

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country
0,Mahébourg,-20.4081,57.7000,77.0,94,75,14.97,MU
1,Hong Kong,22.2855,114.1577,75.0,88,100,1.01,HK
2,Puerto Ayora,-0.7393,-90.3518,75.7,86,35,7.07,EC
3,Kuching,1.5500,110.3333,75.2,100,20,1.14,MY
4,Arraial do Cabo,-22.9661,-42.0278,77.0,83,40,3.44,BR

In [27]:
perf_temp_df = perf_temp_df[perf_temp_df['Wind_Speed']<10].reset_index(drop = True)
perf_temp_df = perf_temp_df[perf_temp_df['Cloudiness'] == 0].reset_index(drop = True)
perf_temp_df.head()

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country
0,Karratha,-20.7377,116.8463,78.26,28,0,9.89,AU
1,Conde,-7.2597,-34.9075,77.00,94,0,5.75,BR
2,Maceió,-9.6658,-35.7353,75.20,94,0,4.61,BR
3,Le Vauclin,14.5452,-60.8388,77.00,69,0,3.44,MQ
4,Oussouye,12.4850,-16.5469,75.20,83,0,6.91,SN

In [29]:
len(perf_temp_df)

9

<h3>Hotels </h3>